<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">Repositorio UCB</a>
            <!---
            <div class="user-actions">
                <button class="btn btn-outline-dark">Subir Archivo</button>
                <button class="btn btn-outline-dark">Iniciar Sesión</button>
                <button class="btn btn-outline-dark">Registrarse</button>
            </div>
        </div>
        
        <div class="container2">
            <a href="Registrarse.html" class="btn btn-sigin">Registrarse</a>
        </div>
        -->
        </div>
    </nav>
</header>

<div class="header2">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <div class="nav2">
                <a href="index.html">
                    <button class="btn-outline-dark custom-btn">Repositorio principal</button>
                </a>
                &rarr;
                <button class="btn-outline-dark custom-btn">Mi perfil</button>
            </div>
        </div>
    </nav>
</div>

<div class="container mt-4">
    <h2>Mi Perfil</h2>
  
    <div *ngIf="usuario; else cargando" class="card p-4">
      <p><strong>Nombre Completo:</strong> {{ usuario.nombreCompleto }}</p>
      <p><strong>Correo Electrónico:</strong> {{ usuario.correo }}</p>
      <p><strong>Rol:</strong> {{ usuario.rol }}</p>
    </div>
  
    <ng-template #cargando>
      <p>Cargando datos del perfil...</p>
    </ng-template>
  </div>

  <div class="mt-4">
    <h3>Mis Proyectos</h3>
    <div *ngIf="proyectos.length > 0; else sinProyectos">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Estado</th>
            <th>Fecha de Subida</th>
            <th>Estatus de aprobación</th>
            <th>Ver</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proyecto of proyectos">
            <td>{{ proyecto.idproyecto }}</td>
            <td>{{ proyecto.titulo }}</td>
            <td>{{ proyecto.estado }}</td>
            <td>{{ proyecto.fechaSubida | date }}</td>
            <td>{{ proyecto.estatusAprobacion }}</td>
            <td><button
                class="btn btn-primary btn-sm"
                [routerLink]="['/ver-documento', proyecto.idproyecto]"
              >
                Visualizar
              </button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #sinProyectos>
      <p>No se encontraron proyectos asociados a este usuario.</p>
    </ng-template>
  </div>
  